<!DOCTYPE html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta charset="utf-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, shrink-to-fit=no"
		/>

		<!-- Bootstrap CSS -->
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
			integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
			crossorigin="anonymous"
		/>

		<style>
			table,
			th,
			td {
				border: 1px solid black;
			}
		</style>

		<title>See Data</title>
	</head>
	<body>
		<!-- CODE FROM HERE -->
		<h1>
			<u><strong>See Database data from here</strong></u>
		</h1>

		<form action="retrieve-data" method="post">
			{% csrf_token %}
			<label for="enrolment-number">Enter Enrolment Number: </label>
			<input
				type="text"
				name="enrolment-number"
				id="enrolment-number"
				placeholder="Enter enrolment here"
			/>
			<button type="submit">Find Data</button>
		</form>
		<br />

		{% for data in studentData %}
		<table class="table table-striped table-dark">
			<thead class="thead-dark">
				<tr>
					<th scope="col">Receipt Number</th>
					<th scope="col">Received Sum</th>
					<th scope="col">Date</th>
					<th scope="col">Student Name</th>
					<th scope="col">Enrolment Number</th>
					<th scope="col">Semester</th>
					<th scope="col">Stream</th>
					<th scope="col">Payment Mode</th>
					<th scope="col">Transaction Number</th>
					<th scope="col">Cheque Date</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td scope="row">{{data.receipt_number}}</td>
					<td>{{data.received_sum}}</td>
					<td>{{data.date}}</td>
					<td>{{data.student_name}}</td>
					<td>{{data.enrolment_number}}</td>
					<td>{{data.semester}}</td>
					<td>{{data.stream}}</td>
					<td>{{data.payment_mode}}</td>
					<td>{{data.transaction_number}}</td>
					<td>{{data.cheque_date|date:'d/m/Y'}}</td>
				</tr>
			</tbody>
		</table>
		{% endfor%}
		<!-- CODE TO HERE -->

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script
			src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
			integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
			integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
			integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
			crossorigin="anonymous"
		></script>
	</body>
</html>
